<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yian.wms.business.mapper.WmsLocationMapper">
    <resultMap id="LocationResult" type="WmsLocation">
        <id property="locationId" column="location_id"/><result property="warehouseId" column="warehouse_id"/>
        <result property="warehouseName" column="warehouse_name"/><result property="areaId" column="area_id"/>
        <result property="areaName" column="area_name"/><result property="locationCode" column="location_code"/>
        <result property="locationName" column="location_name"/><result property="locationType" column="location_type"/>
        <result property="capacityQty" column="capacity_qty"/><result property="status" column="status"/>
        <result property="createBy" column="create_by"/><result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/><result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <sql id="locationSelect">select l.location_id, l.warehouse_id, w.warehouse_name, l.area_id, a.area_name,
        l.location_code, l.location_name, l.location_type, l.capacity_qty, l.status,
        l.create_by, l.create_time, l.update_by, l.update_time, l.remark
        from wms_location l left join wms_warehouse w on w.warehouse_id=l.warehouse_id
        left join wms_area a on a.area_id=l.area_id</sql>
    <select id="selectLocationById" resultMap="LocationResult"><include refid="locationSelect"/> where l.location_id=#{locationId}</select>
    <select id="selectLocationList" parameterType="WmsLocation" resultMap="LocationResult">
        <include refid="locationSelect"/><where>
        <if test="warehouseId != null">and l.warehouse_id=#{warehouseId}</if><if test="areaId != null">and l.area_id=#{areaId}</if>
        <if test="locationCode != null and locationCode != ''">and l.location_code like concat('%',#{locationCode},'%')</if>
        <if test="locationName != null and locationName != ''">and l.location_name like concat('%',#{locationName},'%')</if>
        <if test="locationType != null and locationType != ''">and l.location_type=#{locationType}</if>
        <if test="status != null and status != ''">and l.status=#{status}</if></where>
        order by w.warehouse_code, a.area_code, l.location_code
    </select>
    <select id="selectEnabledOptions" resultMap="LocationResult">
        <include refid="locationSelect"/>
        where l.status='0' and a.status='0' and w.status='0'
        <if test="warehouseId != null">and l.warehouse_id=#{warehouseId}</if>
        order by w.warehouse_code,a.area_code,l.location_code
    </select>
    <insert id="insertLocation" parameterType="WmsLocation" useGeneratedKeys="true" keyProperty="locationId">
        insert into wms_location (warehouse_id,area_id,location_code,location_name,location_type,capacity_qty,status,create_by,create_time,remark)
        values (#{warehouseId},#{areaId},#{locationCode},#{locationName},#{locationType},#{capacityQty},#{status},#{createBy},sysdate(),#{remark})
    </insert>
    <update id="updateLocation" parameterType="WmsLocation">
        update wms_location set warehouse_id=#{warehouseId},area_id=#{areaId},location_code=#{locationCode},location_name=#{locationName},
        location_type=#{locationType},capacity_qty=#{capacityQty},status=#{status},update_by=#{updateBy},update_time=sysdate(),remark=#{remark}
        where location_id=#{locationId}
    </update>
    <delete id="deleteLocationById">delete from wms_location where location_id=#{locationId}</delete>
    <select id="countCode" resultType="int">select count(1) from wms_location where warehouse_id=#{warehouseId} and location_code=#{locationCode}
        <if test="locationId != null">and location_id != #{locationId}</if></select>
    <select id="countReferences" resultType="int">
        select (select count(1) from wms_stock where location_id=#{locationId})
             + (select count(1) from wms_receipt_line where location_id=#{locationId})
             + (select count(1) from wms_shipment_line where location_id=#{locationId})
             + (select count(1) from wms_stock_movement where location_id=#{locationId})
    </select>
</mapper>
